#not-found {
	position: relative;
	font-size: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;

	height: $main-height;
	width: 100vw;
	background-color: $black;

	@media (max-height: $mobile-max) {
		position: static;
		font-size: 1rem;
		text-align: center;
	}
}
