.organistListText {
	font-size: 2rem;
}

.detailedOrganist {
	@include mainGrayBackground;
	padding: 2rem;

	display: flex;
	align-items: flex-start;
	justify-content: center;

	@media screen and (max-width: $mobile-max) {
		width: 100vw;
	}
}

.detailedOrganistInner {
	width: 33%;
	max-height: 95%;
	padding: 3rem 2rem;

	display: flex;
	align-items: flex-start;
	flex-direction: column;

	background-color: $darkGray;
	box-shadow: -0.2rem 0 0 0 $white;

	& > * {
		margin: 0.5rem 0;
	}

	@media screen and (max-width: $mobile-max) {
		width: 98%;
	}
}

.detailedOrganistName {
	font-size: 2.5rem;
}

.detailedOrganistLink {
	font-size: 1.8rem;
	color: $white;
	text-decoration: underline;
}

.detailedOrganistImage {
	min-height: 30rem;
	min-width: 30rem;
	border-radius: 0.5rem;
}

.detailedOrganistAlbumListDescription {
	font-size: 2rem;
	margin-top: 2rem;
}

.detailedOrgnistAlbumList {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	@media screen and (max-width: $mobile-max) {
		width: 100%;

		align-items: center;
	}
}

.detailedOrganistAlbumContainer {
	background-color: $offBlack;
	display: flex;

	margin: 1rem;
	padding: 1.2rem 1rem;
}

.detailedOrganistAlbumLink {
	display: flex;
	text-decoration: none;
	color: $white;

	transition: all 0.3s ease;

	&:hover {
		filter: brightness(0.75);
	}
}

.detailedOrganistAlbumInfo {
	margin: 1rem;

	width: 18rem;
	height: 12rem;
	padding: 0.2rem;
}

.detaiedOrganistAlbumName {
	font-size: 1.5rem;
}

.detailedOrganistAlbumImage {
	height: 15rem;
	width: 15rem;

	transition: all 0.2s ease;

	&:hover {
		filter: brightness(0.8);
	}
}
