#search {
	// position: relative;
	top: 15rem;
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	// background-color: $off-white;
	color: $white;
	width: 100vw;
}

#list-options-container {
	margin: 0 4rem;
	padding: 0.25rem;
	display: flex;
	flex-direction: row;
}

.list-option {
	margin: 0;
	display: inline-block;
	font-size: 2.2rem;
	padding: 0.5rem;
	height: 100%;

	&:hover {
		cursor: pointer;
		color: darkgrey;
		transition: all 0.25s;
	}
}

.list-option-underlinded {
	border-bottom: 0.1rem solid $white;
}

#search-input {
	height: 2.2rem;
	outline: none;
	border: none;
	background: none;
	background-color: $white;
	border-radius: 0.5rem;
	height: 3.2rem;
	width: 13rem;
}

#search-input-label {
	display: flex;
	flex-direction: column;
	font-size: 1.8rem;
}

// Sort

.search-select-wrapper {
	border: none;
	outline: none;
	background: transparent;
	appearance: none;

	font-size: 1.8rem;
	color: $white;
	height: 100%;

	background-color: $darkGray;
	border-radius: 1rem;
	padding: 1rem;

	display: flex;
}

.search-filter-select {
	border: none;
	outline: none;
	background: transparent;

	font-size: 1.8rem;
	color: $white;
	width: 18rem;
}
