.radioInfoOrgan {
	display: flex;
	flex-direction: column;
}

.radioInfoOrganInstitution {
	font-size: 1.95rem;
}

.radioInfoOrganLink {
	text-decoration: none;
}

.radioInfoOrganDateAndBuilder {
	font-size: 1.6rem;
}

.radioInfoOrganLocation {
	font-size: 1.6rem;
}
