.radioInfoOrgan {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.radioInfoOrganInstitution {
	font-size: 3rem;
	font-weight: 300;
}

.radioInfoOrganLink {
	text-decoration: none;
}

.radioInfoOrganDateAndBuilder {
	font-size: 2rem;
}

.radioInfoOrganLocation {
	font-size: 2rem;
}
