// Colors
$babyBlue: #c3e0e5;
$darkBlue: #274472;
$blueGray: #5885af;
$midnightBlue: #41729f;
$off-white: #d1d1d1;
$white: #ffffff;
$black: #000000;
$darkGray: #1f1f1f;

// Transparent Colors
$transparent-blueGray: rgba($blueGray, 0.4);
$transparent-darkBlue: rgba($darkBlue, 0.5);
$transparent-midnightBlue: rgba($black, 0.5);

// Breakpoints
$tablet-max: 1500px;

$mobile-max-width: 490px;
$mobile-max-height: 850px;
$mobile-max-landscape-width: 830px;
