// @import "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js";
// @import "https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js";

@mixin mobile-innerSection-style {
	flex-direction: column;
	padding: 0 0 3rem;
	width: 100%;
	height: 85%;
}

@mixin mobile-section-text {
	@media (max-width: $tablet-max) and (orientation: portrait) {
		text-align: center;
		font-size: 2rem;
		padding: 1.8rem;
	}
}

#home {
	position: relative;
	width: 100vw;
	min-height: $main-height;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	// overflow: hidden;

	background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)),
		url(../images/organHands.webp);
	background-size: cover;
	background-position: top;

	@media (max-height: $mobile-max-height) and (orientation: portrait) {
		width: 100vw;
	}

	@media (max-width: $mobile-max-landscape-width) and (orientation: landscape) {
	}
}

#home-inner {
	height: 100%;
	width: 100%;
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.home-section {
	width: 50%;
	height: 42rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background: $darkBlue;

	margin: 4rem;

	border-radius: 1.4rem;
	box-shadow: 0 0 2rem $black;

	@media (max-width: $tablet-max) {
		width: 85vw;
	}

	@media (max-width: $tablet-max) and (orientation: portrait) {
		font-size: 2rem;
	}

	@media (max-width: $mobile-max-width-portrait) {
		width: 95%;
		height: auto;
	}
}

// Container for main section text and listen now button

#home-main-inner {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;

	width: 75%;
	height: 100%;

	margin: 2rem;
	padding: 3rem;
	padding-bottom: 0;

	@media (max-width: $tablet-max) {
		width: 90%;
	}

	@media (max-width: $mobile-max-width-portrait) {
		width: 100%;
		height: auto;
		padding: 0;
	}
}

// Targeting homepage main section text

#home-main-text {
	font-size: 2.5rem;
	font-weight: 500;

	height: 50%;
	width: 100%;
	margin: 1rem;
	padding: 2rem 4rem 2rem 0;

	color: $off-white;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;

	@media (max-width: $mobile-max-width-portrait) {
		font-size: 2rem;
		padding: 0.5rem;
		text-align: start;
	}
}

// main section sheet music picture

#home-main-pic {
	max-width: 40rem;
	max-height: 40rem;
	border-radius: 1rem;

	@media (max-width: $tablet-max) {
		max-height: 25rem;
		max-width: 25rem;
	}
}

// Listen now button in main section

#listen-now {
	width: 25rem;
	height: 8rem;
	margin: 2rem 2rem;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 3.5rem;

	overflow: hidden;

	color: $off-white;
	background-color: $black;
	border-radius: 1.1rem;

	transition: all 0.4s;

	cursor: pointer;

	&:hover {
		color: $darkGray;
		transition: all 0.29s;
	}

	&:active {
		transition: all 40ms;
		color: $darkGray;
	}

	@media (max-width: $tablet-max) {
		margin: 0;
	}
}

// Home social media section and other stations

.home-social-stations {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#home-section-social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;

	height: 80%;
}

#home-social-icons-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-social-icons {
	font-size: 13rem;

	margin: 1rem;
}

#home-social-text {
	margin: 1rem;

	font-size: 5rem;
	text-align: start;
}

#social-media-icon-test {
	max-height: 10rem;
	max-width: 10rem;
}

#other-stations {
	height: 100%;
	margin: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.other-station-section-title {
	font-size: 4rem;
}

#social-other-divider {
	width: 0.1rem;
	height: 100%;
	color: $white;
	margin: 1rem;
}
