#home {
	color: black;
	background-color: $off-white;
	height: 95vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	top: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
	background-image: url(../images/hands-organ.webp);
}

.home-section {
	text-align: right;
	margin: 0 40rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.3rem;
	width: 63vw;
	height: 30rem;
	padding: 1rem 10rem;
	margin: 5rem;
	background-color: $blue-light;
	box-shadow: 10px 15px 0 $gray;
}

.section-left {
	flex-direction: row-reverse;
}

.section-icons {
	display: flex;
	align-items: center;
	font-size: 28rem;
	text-align: center;
}

// light blue background/logo on the right
.text-right {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	text-align: center;
	height: 100%;
	width: 80rem;
	font-size: 1.8rem;
}

// dark blue background/logo on the left
.text-left {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 80rem;
	font-size: 1.8rem;
	text-align: center;
}
