@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  font-weight: 300;
  background-color: black;
}

#header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  width: 100vw;
  height: 7rem;
  z-index: 1;
  border-bottom: solid 1px white;
}

#header-content {
  display: flex;
}

#header-content > * {
  margin: 1.6rem;
  display: flex;
  align-items: center;
}

#links {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.link-animation:link,
.link-animation:visited {
  text-decoration: none;
  padding: 0.8rem;
  color: white;
  position: relative;
  transition: all 0.2s;
  margin: 0 0.8rem;
}

.link-animation:hover {
  color: darkgray;
}

.link {
  font-size: 1.8rem;
}

.link:hover {
  color: darkgray;
}

.link:active {
  transform: translateY(0.2rem);
}

#header-divider {
  font-size: 2rem;
  margin: 0 8px 0 8px;
}

#title {
  align-self: center;
  margin-left: 2rem;
  animation: moveInLeft 1.1s ease-out;
  font-weight: 500;
  transition: all 0.2s;
  position: relative;
  font-size: 3.5rem;
}

#title:active {
  transform: translateY(0.2rem);
}

.button {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: black;
  border: none;
  color: white;
  outline: none;
  padding: 10px;
  margin: 0 0.8rem;
  padding: 0 0 0 10px;
  font-weight: 300;
}

#more-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background: none;
  border: none;
  color: white;
  outline: none;
}

#more-button:hover {
  color: darkgray;
  transition: all 0.2s;
}

.dropdown-list {
  position: absolute;
  top: 4.6rem;
  transform: translateX(77%);
  padding: 0.3rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  width: 15rem;
}

.dropdown-links:visited,
.dropdown-links:link {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.dropdown-links:hover {
  background-color: rgb(85, 85, 85);
}

.dropdown-item {
  list-style-type: none;
  align-items: center;
  margin: 0.25rem;
}

#menu-toggle {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  display: flex;
  background-color: black;
  color: white;
  border: 0.11rem solid white;
  border-radius: 0 2rem 2rem 0;
  padding: 0.1rem;
  border-left-width: 0.1rem;
  outline: none;
  text-align: center;
  margin-right: 0.8rem;
}

#home {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/organ-pipes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 7rem;
  display: flex;
  align-items: center;
  padding: 20rem;
}

#home-main-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

/* Library Component Styles */

#library-list {
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  position: relative;
  top: 7.1rem;
  bottom: 0;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2.5em;
  width: 22rem;
  height: 15rem;
  border: 0.1rem solid white;
  border-radius: 0.7rem;
}

.library-item {
  display: inline-block;
  margin: 0.5rem;
  max-width: 100%;
}

/* Player Component Styles */

.player {
  display: flex;
  position: fixed;
  bottom: 4rem;
  background-color: rgb(18, 18, 18);
  border-radius: 5rem;
  height: 5.2rem;
  width: 60rem;
  justify-content: space-around;
  align-items: center;
}

#play-button {
  border: none;
  background: rgb(18, 18, 18);
  height: 1.5em;
  width: 2.5rem;
  clip-path: polygon(0 100%, 100% 50%, 100% 50%, 0 0);
}

.play-button-container {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  width: 5rem;
  border-radius: 50%;
  background-color: white;
}

.library-item {
  text-decoration: none;
  color: white;
}

.album {
  max-width: 10rem;
  border: 0.1rem solid white;
}

.pics {
  max-width: 12rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
