@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  font-weight: 300;
}

#header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: whitesmoke;
  width: ;
  width: 100vw;
}

#header-content {
  display: flex;
}

#header-content > * {
  margin: 1.6rem;
  display: flex;
  align-items: center;
}

#links {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.link-animation:link,
.link-animation:visited {
  text-decoration: none;
  padding: 0.8rem;
  color: white;
  position: relative;
  transition: all 0.2s;
  margin: 0 0.8rem;
}

.link {
  font-size: 1.8rem;
}

.link:hover {
  transform: translateY(-0.32rem);
  color: darkgray;
}

.link:active {
  transform: translateY(0);
}

#header-divider {
  font-size: 2rem;
  margin: 0 8px 0 8px;
}

#title {
  align-self: center;
  margin-left: 2rem;
  animation: moveInLeft 1.1s ease-out;
  font-weight: 500;
  transition: all 0.2s;
  position: relative;
  font-size: 3.5rem;
}

#title:hover {
  transform: translateY(-0.2rem);
  cursor: pointer;
}

#title:active {
  transform: translateY(0);
}

#spec-option {
  background: white;
  color: black;
}

#search-content {
  margin: 0;
}

#text-input {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: black;
  color: white;
  border: 0.11rem solid white;
  border-radius: 2rem 0 0 2rem;
  height: 0.8rem;
  width: 15.1rem;
  border-right-style: none;
  outline: none;
  padding: 1.2rem;
}

option {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

#text-input::placeholder {
  text-align: center;
  color: white;
}

.button {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: black;
  border: none;
  color: white;
  outline: none;
  padding: 10px;
  margin: 0 0.8rem;
  padding: 0 0 0 10px;
  font-weight: 300;
}

#menu-toggle {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  display: flex;
  background-color: black;
  color: white;
  border: 0.11rem solid white;
  border-radius: 0 2rem 2rem 0;
  padding: 0.1rem;
  border-left-width: 0.1rem;
  outline: none;
  text-align: center;
  margin-right: 0.8rem;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 62px;
  border: pink;
  background-color: black;
  border: 0.1rem solid gray;
}

#home {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/organ-pipes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
