@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

@import "./button.scss";
@import "./header.scss";
@import "./library.scss";
@import "./links.scss";
@import "./player.scss";
@import "./home";
@import "./search";

$blue-one: #020024;
$blue-two: #090979;
$blue-three: #00d4ff;
$off-white: #f5f9ff;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Quicksand", sans-serif;
}

body {
	font-weight: 300;
	background-color: $off-white;
	color: white;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
}
