#library {
	position: relative;
	top: 7rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	background-color: rgb(87, 87, 87);
}

#library-list {
	margin: 1rem;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.list-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	margin: 3rem 1rem;
	padding: 3em;
	width: 25rem;
	height: 20rem;
	color: white;
	height: 15rem;
	background-color: $blueGray;
	border-radius: 1rem;

	&:hover {
		transition: all 0.1s;
	}
}

.list-link {
	text-decoration: none;
}

.library-item {
	display: inline-block;
	max-width: 100%;
	margin: 0.5rem;
	text-align: left;
	color: $off-white;
	font-weight: 500;
	font-size: 1.2rem;
}

.pics {
	display: inline-block;
	max-width: 22rem;
	max-height: 39rem;
	// width: 15rem;
	// height: 10rem;
	border: 0.8px solid rgba(0, 0, 0, 0.74);
	border-radius: 1rem;
}
