#library {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 7.1rem;
}

#library-list {
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  position: relative;
  top: 7.1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2.5em;
  width: 22rem;
  height: 15rem;
  border-radius: 0.7rem;
  background-color: rgb(14, 14, 14);
  border: 0.5px solid white;
}

.list-container:hover {
  box-shadow: 0 0 1.2rem -0.5rem rgba(255, 255, 255, 0.65);
  background-color: rgb(14, 14, 14);
  transition: all 0.1s;
}

.library-item {
  display: inline-block;
  margin: 0.5rem;
  max-width: 100%;
  background-color: rgb(14, 14, 14);
  text-align: center;
  text-decoration: none;
  color: white;
}

.list-link:focus {
  outline: none;
  border: 1px white solid;
}

.pics {
  max-width: 12rem;
}
