@import "./_variables";

.link-animation {
	font-size: 2.4rem;

	&:after {
		cursor: pointer;
		display: block;
		content: "";
		border-bottom: 0.15rem solid white;

		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 0.2s ease-out;
	}
	&:hover:after {
		cursor: pointer;
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.link {
	&:link,
	&:visited {
		text-decoration: none;
		padding: 0.8rem;
		color: white;
		position: relative;
		transition: all 0.2s;
		margin: 0 0.8rem;
	}
}
