@import "./_variables";

#radio {
	position: fixed;
	height: 10rem;
	width: 100rem;
	bottom: 1rem;

	background-color: $playerBackground;
	border-radius: 2rem;
	box-shadow: 0 0.2rem 2.5rem $transparent-playerBackground;

	display: flex;
	align-items: center;
}

#stream {
	position: relative;
	width: 10rem;
	height: 10rem;
	top: 15rem;
}

// Pause/Play button & progress bar styles

#play-progress-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 33%;
	height: 70%;
}

#playback-button {
	background: none;
	border: none;
	color: $white;
	font-size: 4rem;
}

#progress-container {
	display: flex;

	width: 85%;
}

#progress::-webkit-progress-bar {
	-webkit-appearance: none;
	outline: none;

	width: 50rem;
	color: yellow;
}

#volume-controls {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 33%;



	& > * {
		margin: .2em;
	}
}

#volumeBar {
	border: none;
	outline: none;
	appearance:black;
	-webkit-appearance: none !important;
	cursor: pointer;

	width: 20rem;
	height: .2rem;
	background: $blueGray;
	color: yellow;

	&::-webkit-slider-thumb {
		appearance: none;
		-webkit-appearance: none !important;
		background: $playerBackground;
		border: .1rem solid $blueGray;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
}

#mute {
	height: 3rem;
	width: 6rem;
	background-color: $playerBackground;
	outline: none;
	border: none;
	border-radius: 50rem;
	margin: 2rem;
	color: $white;
}

#music-info {
	width: 33%;
	height: 100%;
}
.album {
	// max-width: 10rem;
	// border: 0.1rem solid white;
}
