@import "./_variables";

#radio {
	position: fixed;
	height: 10rem;
	width: 45vw;
	bottom: 1rem;
	padding: 1rem;

	background-color: $player-background;
	border-radius: 2rem;
	box-shadow: 0 0.2rem 2.5rem $transparent-black;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#stream {
	position: relative;
	width: 10rem;
	height: 10rem;
	top: 15rem;
}

// Pause/Play button & progress bar styles

#play-progress-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

#playback-button {
	background: none;
	border: none;
	color: $white;
	font-size: 4rem;
}

#progress {
	width: 46em;
	color: black;
}

#volume-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#mute {
	height: 3rem;
	width: 6rem;
	background-color: $midnightBlue;
	outline: none;
	border: none;
	border-radius: 50rem;
	margin: 2rem;
	color: $white;
}

#music-info {
	width: 10rem;
	height: 10rem;
}

.album {
	// max-width: 10rem;
	// border: 0.1rem solid white;
}
